<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />

    <title>Blog</title>
    <style>
      pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow: hidden;
        max-width: 100%;
      }
    </style>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="container">
      <div class="col">
        <div class="row mt-4 text-center">
          <h1><%= locals.blog.title %></h1>
        </div>
        <div class="row mt-3">
          <img src="<%= locals.blog.coverImageURL %>" alt="" width="900px" />
        </div>
        <div class="row mt-4 fw-medium fs-4">
          <pre><%- locals.blog.content %></pre>
        </div>
      </div>
      <p class="mt-4 fw-bold fs-4 fst-italic">
        Posted By: <%= blog.author.fullName %>
      </p>
      <% if (locals.user) { %>
      <div class="row">
        <form
          action="/api/v1/blog/like/<%= blog._id %>"
          method="POST"
          class="d-flex align-items-center me-2"
        >
          <button type="submit" class="btn btn-primary" style="width: auto">
            <i class="fas fa-thumbs-up me-1" style="font-size: 20px"></i>
            <span><%= blog.noOfLikes %></span>
          </button>
        </form>
      </div>
      <% } else { %>
      <div class="row">
        <form
          action="/api/v1/blog/like/<%= blog._id %>"
          method="POST"
          class="d-flex align-items-center me-2"
        >
          <button
            type="submit"
            class="btn btn-primary"
            style="width: auto"
            disabled
          >
            <i class="fas fa-thumbs-up me-1" style="font-size: 20px"></i>
            <span><%= blog.noOfLikes %></span>
          </button>
        </form>
      </div>
      <% }%> %>
    </div>

    <div class="container mt-4">
      <div>
        <% if (locals.user) { %>
        <form
          action="/api/v1/blog/comment/<%= blog._id %>"
          method="POST"
          class="input-group mb-3"
        >
          <input
            type="text"
            class="form-control"
            name="content"
            placeholder="Add Comments"
            aria-describedby="button-addon2"
          />
          <button class="btn btn-primary" type="submit" id="button-addon2">
            Post
          </button>
        </form>
        <% } %>
      </div>
      <p class="mt-2 fw-bold fs-5">Comments (<%= comments.length %>)</p>
      <% comments.forEach(comment => { %>
      <div class="container mt-4">
        <div class="card mb-5">
          <div class="card-body">
            <p class="card-text fw-medium fs-5"><%= comment.content %></p>
            <div class="d-flex align-items-center">
              <img
                src="<%= comment.createdBy.profileImageUrl %>"
                alt="Profile Image"
                class="rounded-circle me-2"
                style="width: 40px; height: 40px; object-fit: cover"
              />
              <p class="card-title">- <%= comment.createdBy.fullName %></p>
            </div>
            <h6 class="card-subtitle mb-2 mt-2 text-muted">
              <%= comment.createdAt %>
            </h6>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <%- include("./partials/script") %>
  </body>
</html>
